@page

@section scripts {
    <abp-script src="/Pages/ContactSupport/index.js" />
}

<div id="Wrapper">

    <abp-row>
        <div class="d-flex justify-content-between">
            <div>
                <h2 class="fw-bold">Contact Support</h2>
            </div>
        </div>
    </abp-row>

    <abp-card>
        <abp-card-body>
            <abp-table class="table table-vcenter js-dataTable-responsive text-start"></abp-table>
        </abp-card-body>
    </abp-card>
</div>